@font-face {
  font-family: 'strawberryicon';
  src:  url('fonts/strawberryicon.eot?ayv2mh');
  src:  url('fonts/strawberryicon.eot?ayv2mh#iefix') format('embedded-opentype'),
    url('fonts/strawberryicon.ttf?ayv2mh') format('truetype'),
    url('fonts/strawberryicon.woff?ayv2mh') format('woff'),
    url('fonts/strawberryicon.svg?ayv2mh#strawberryicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="i-"], [class*=" i-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'strawberryicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-add:before {
  content: "\e900";
}
.i-airplane:before {
  content: "\e901";
}
.i-airplane-l:before {
  content: "\e902";
}
.i-alipay:before {
  content: "\e903";
}
.i-analysis:before {
  content: "\e904";
}
.i-android:before {
  content: "\e905";
}
.i-angle-down-l:before {
  content: "\e917";
}
.i-angle-left-l:before {
  content: "\e907";
}
.i-angle-right-l:before {
  content: "\e908";
}
.i-angle-up-l:before {
  content: "\e909";
}
.i-apple:before {
  content: "\e90a";
}
.i-arrow-down-l:before {
  content: "\e90b";
}
.i-arrow-up-l:before {
  content: "\e90c";
}
.i-aso-l:before {
  content: "\e90d";
}
.i-association-l:before {
  content: "\e90e";
}
.i-baiduwangpan:before {
  content: "\e90f";
}
.i-bar-chart:before {
  content: "\e910";
}
.i-bar-chart-l:before {
  content: "\e911";
}
.i-battery:before {
  content: "\e912";
}
.i-battery-l:before {
  content: "\e913";
}
.i-bell:before {
  content: "\e914";
}
.i-bell-l:before {
  content: "\e915";
}
.i-bilibili:before {
  content: "\e916";
}
.i-bitcoin:before {
  content: "\e9177";
}
.i-blackboard-l:before {
  content: "\e918";
}
.i-bluetooth:before {
  content: "\e919";
}
.i-bluetooth-l:before {
  content: "\e91a";
}
.i-board:before {
  content: "\e91b";
}
.i-board-l:before {
  content: "\e91c";
}
.i-book:before {
  content: "\e91d";
}
.i-book-l:before {
  content: "\e91e";
}
.i-bookmark:before {
  content: "\e91f";
}
.i-bookmark-l:before {
  content: "\e920";
}
.i-briefcase:before {
  content: "\e921";
}
.i-briefcase-l:before {
  content: "\e922";
}
.i-brush:before {
  content: "\e923";
}
.i-brush-l:before {
  content: "\e924";
}
.i-bug:before {
  content: "\e925";
}
.i-bug-l:before {
  content: "\e926";
}
.i-building:before {
  content: "\e927";
}
.i-building-l:before {
  content: "\e928";
}
.i-buy:before {
  content: "\e929";
}
.i-buy-l:before {
  content: "\e92a";
}
.i-calculator:before {
  content: "\e92b";
}
.i-calculator-l:before {
  content: "\e92c";
}
.i-calendar:before {
  content: "\e92d";
}
.i-calendar-l:before {
  content: "\e92e";
}
.i-camber:before {
  content: "\e92f";
}
.i-camber-l:before {
  content: "\e930";
}
.i-camber-o:before {
  content: "\e931";
}
.i-camera:before {
  content: "\e932";
}
.i-camera-l:before {
  content: "\e933";
}
.i-caomei:before {
  content: "\e934";
}
.i-category-l:before {
  content: "\e935";
}
.i-certificate:before {
  content: "\e936";
}
.i-chemistry:before {
  content: "\e937";
}
.i-chemistry-l:before {
  content: "\e938";
}
.i-choose-list-l:before {
  content: "\e939";
}
.i-chrome:before {
  content: "\e93a";
}
.i-chuangzaoshi:before {
  content: "\e93b";
}
.i-circle:before {
  content: "\e93c";
}
.i-circle-l:before {
  content: "\e93d";
}
.i-circle-o:before {
  content: "\e93e";
}
.i-clip-l:before {
  content: "\e93f";
}
.i-clock:before {
  content: "\e940";
}
.i-clock-l:before {
  content: "\e941";
}
.i-close-l:before {
  content: "\e942";
}
.i-clothes:before {
  content: "\e943";
}
.i-clothes-l:before {
  content: "\e944";
}
.i-cloud:before {
  content: "\e945";
}
.i-cloud-l:before {
  content: "\e946";
}
.i-code-branch:before {
  content: "\e947";
}
.i-code-edit-l:before {
  content: "\e948";
}
.i-code-file:before {
  content: "\e949";
}
.i-code-file-l:before {
  content: "\e94a";
}
.i-code-fork:before {
  content: "\e94b";
}
.i-code-l:before {
  content: "\e94c";
}
.i-code-plugin-l:before {
  content: "\e94d";
}
.i-coin:before {
  content: "\e94e";
}
.i-coin-l:before {
  content: "\e94f";
}
.i-collection:before {
  content: "\e950";
}
.i-come-l:before {
  content: "\e951";
}
.i-command:before {
  content: "\e952";
}
.i-command-2:before {
  content: "\e953";
}
.i-command-l:before {
  content: "\e954";
}
.i-comment:before {
  content: "\e955";
}
.i-comment-l:before {
  content: "\e956";
}
.i-computer:before {
  content: "\e957";
}
.i-computer-l:before {
  content: "\e958";
}
.i-configuration:before {
  content: "\e959";
}
.i-connection:before {
  content: "\e95a";
}
.i-construct-l:before {
  content: "\e95b";
}
.i-container-l:before {
  content: "\e95c";
}
.i-control:before {
  content: "\e95d";
}
.i-control-rank:before {
  content: "\e95e";
}
.i-crown:before {
  content: "\e95f";
}
.i-crown-l:before {
  content: "\e960";
}
.i-css3:before {
  content: "\e961";
}
.i-cup:before {
  content: "\e962";
}
.i-cup-l:before {
  content: "\e963";
}
.i-data-test:before {
  content: "\e964";
}
.i-design-edit-l:before {
  content: "\e965";
}
.i-design-shape-l:before {
  content: "\e966";
}
.i-detect-l:before {
  content: "\e967";
}
.i-d-glasses:before {
  content: "\e968";
}
.i-diamond-l:before {
  content: "\e969";
}
.i-doc-edit:before {
  content: "\e96a";
}
.i-doc-file:before {
  content: "\e96b";
}
.i-doc-file-l:before {
  content: "\e96c";
}
.i-download-l:before {
  content: "\e96d";
}
.i-dribbble:before {
  content: "\e96e";
}
.i-dropbox:before {
  content: "\e96f";
}
.i-d-space:before {
  content: "\e970";
}
.i-eye:before {
  content: "\e971";
}
.i-eye-l:before {
  content: "\e972";
}
.i-facebook:before {
  content: "\e973";
}
.i-file:before {
  content: "\e974";
}
.i-file-l:before {
  content: "\e975";
}
.i-film:before {
  content: "\e976";
}
.i-film-l:before {
  content: "\e977";
}
.i-fire-l:before {
  content: "\e978";
}
.i-firewall:before {
  content: "\e979";
}
.i-firewall-l:before {
  content: "\e97a";
}
.i-folder-l:before {
  content: "\e97b";
}
.i-font:before {
  content: "\e97c";
}
.i-forum:before {
  content: "\e97d";
}
.i-game:before {
  content: "\e97e";
}
.i-game-l:before {
  content: "\e97f";
}
.i-geometry-shape-l:before {
  content: "\e980";
}
.i-gift:before {
  content: "\e981";
}
.i-gift-l:before {
  content: "\e982";
}
.i-github:before {
  content: "\e983";
}
.i-github-logo:before {
  content: "\e984";
}
.i-git-l:before {
  content: "\e985";
}
.i-greatwall:before {
  content: "\e986";
}
.i-hacker:before {
  content: "\e987";
}
.i-hand-bevel:before {
  content: "\e988";
}
.i-hand-button:before {
  content: "\e989";
}
.i-hande-vertical:before {
  content: "\e98a";
}
.i-hand-gather:before {
  content: "\e98b";
}
.i-hand-grasp:before {
  content: "\e98c";
}
.i-hand-horizontal:before {
  content: "\e98d";
}
.i-hand-pointer:before {
  content: "\e98e";
}
.i-hand-slide:before {
  content: "\e98f";
}
.i-hand-stop:before {
  content: "\e990";
}
.i-hand-touch:before {
  content: "\e991";
}
.i-headset:before {
  content: "\e992";
}
.i-headset-l:before {
  content: "\e993";
}
.i-heart:before {
  content: "\e994";
}
.i-heart-l:before {
  content: "\e995";
}
.i-home:before {
  content: "\e996";
}
.i-home-l:before {
  content: "\e997";
}
.i-html5:before {
  content: "\e998";
}
.i-image:before {
  content: "\e999";
}
.i-image-l:before {
  content: "\e99a";
}
.i-inbox:before {
  content: "\e99b";
}
.i-inbox-l:before {
  content: "\e99c";
}
.i-info-l:before {
  content: "\e99d";
}
.i-Instagram:before {
  content: "\e99e";
}
.i-keyboard:before {
  content: "\e99f";
}
.i-keyboard-l:before {
  content: "\e9a0";
}
.i-label-info-l:before {
  content: "\e9a1";
}
.i-laptop:before {
  content: "\e9a2";
}
.i-laptop-l:before {
  content: "\e9a3";
}
.i-layers:before {
  content: "\e9a4";
}
.i-layout-grid:before {
  content: "\e9a5";
}
.i-layout-grids:before {
  content: "\e9a6";
}
.i-layout-list:before {
  content: "\e9a7";
}
.i-light:before {
  content: "\e9a8";
}
.i-light-flash-l:before {
  content: "\e9a9";
}
.i-light-l:before {
  content: "\e9aa";
}
.i-lightning:before {
  content: "\e9ab";
}
.i-lightning-l:before {
  content: "\e9ac";
}
.i-link-l:before {
  content: "\e9ad";
}
.i-linux:before {
  content: "\e9ae";
}
.i-list-clipboard:before {
  content: "\e9af";
}
.i-list-clipboard-l:before {
  content: "\e9b0";
}
.i-location:before {
  content: "\e9b1";
}
.i-location-l:before {
  content: "\e9b2";
}
.i-lock:before {
  content: "\e9b3";
}
.i-lock-l:before {
  content: "\e9b4";
}
.i-map:before {
  content: "\e9b5";
}
.i-map-l:before {
  content: "\e9b6";
}
.i-medal:before {
  content: "\e9b7";
}
.i-medal-l:before {
  content: "\e9b8";
}
.i-menu-l:before {
  content: "\e9b9";
}
.i-message:before {
  content: "\e9ba";
}
.i-message-l:before {
  content: "\e9bb";
}
.i-microchip:before {
  content: "\e9bc";
}
.i-microchip-l:before {
  content: "\e9bd";
}
.i-microphone:before {
  content: "\e9be";
}
.i-microphone-l:before {
  content: "\e9bf";
}
.i-microsoft:before {
  content: "\e9c0";
}
.i-mobile:before {
  content: "\e9c1";
}
.i-mobile-l:before {
  content: "\e9c2";
}
.i-moments:before {
  content: "\e9c3";
}
.i-money:before {
  content: "\e9c4";
}
.i-mouse:before {
  content: "\e9c5";
}
.i-mouse-l:before {
  content: "\e9c6";
}
.i-music:before {
  content: "\e9c7";
}
.i-music-file:before {
  content: "\e9c8";
}
.i-music-file-l:before {
  content: "\e9c9";
}
.i-music-l:before {
  content: "\e9ca";
}
.i-music-note:before {
  content: "\e9cb";
}
.i-music-note-l:before {
  content: "\e9cc";
}
.i-network-l:before {
  content: "\e9cd";
}
.i-new-l:before {
  content: "\e9ce";
}
.i-newspaper-l:before {
  content: "\e9cf";
}
.i-operation:before {
  content: "\e9d0";
}
.i-out-l:before {
  content: "\e9d1";
}
.i-overlapping:before {
  content: "\e9d2";
}
.i-pad:before {
  content: "\e9d3";
}
.i-paper:before {
  content: "\e9d4";
}
.i-paper-plane:before {
  content: "\e9d5";
}
.i-pause-l:before {
  content: "\e9d6";
}
.i-paypal:before {
  content: "\e9d7";
}
.i-pen:before {
  content: "\e9d8";
}
.i-pen-write:before {
  content: "\e9d9";
}
.i-people:before {
  content: "\e9da";
}
.i-pinterest:before {
  content: "\e9db";
}
.i-pixels:before {
  content: "\e9dc";
}
.i-platform:before {
  content: "\e9dd";
}
.i-play-l:before {
  content: "\e9de";
}
.i-pokemon-ball:before {
  content: "\e9df";
}
.i-printer:before {
  content: "\e9e0";
}
.i-printer-l:before {
  content: "\e9e1";
}
.i-product-l:before {
  content: "\e9e2";
}
.i-program:before {
  content: "\e9e3";
}
.i-program-framework-l:before {
  content: "\e9e4";
}
.i-prototype:before {
  content: "\e9e5";
}
.i-prototype-select-l:before {
  content: "\e9e6";
}
.i-qq:before {
  content: "\e9e7";
}
.i-qrcode-l:before {
  content: "\e9e8";
}
.i-quote-left:before {
  content: "\e9e9";
}
.i-quote-right:before {
  content: "\e9ea";
}
.i-qzone:before {
  content: "\e9eb";
}
.i-raspberry:before {
  content: "\e9ec";
}
.i-read:before {
  content: "\e9ed";
}
.i-read-l:before {
  content: "\e9ee";
}
.i-red-envelope:before {
  content: "\e9ef";
}
.i-right-clipboard:before {
  content: "\e9f0";
}
.i-right-clipboard-l:before {
  content: "\e9f1";
}
.i-rocket:before {
  content: "\e9f2";
}
.i-rocket-l:before {
  content: "\e9f3";
}
.i-rollerbrush:before {
  content: "\e9f4";
}
.i-rollerbrush-l:before {
  content: "\e9f5";
}
.i-rss:before {
  content: "\e9f6";
}
.i-ruler:before {
  content: "\e9f7";
}
.i-ruler-l:before {
  content: "\e9f8";
}
.i-save:before {
  content: "\e9f9";
}
.i-save-l:before {
  content: "\e9fa";
}
.i-scan-l:before {
  content: "\e9fb";
}
.i-scissors:before {
  content: "\e9fc";
}
.i-search-l:before {
  content: "\e9fd";
}
.i-server:before {
  content: "\e9fe";
}
.i-server-l:before {
  content: "\e9ff";
}
.i-servers:before {
  content: "\ea00";
}
.i-setting:before {
  content: "\ea01";
}
.i-setting-l:before {
  content: "\ea02";
}
.i-share:before {
  content: "\ea03";
}
.i-shield-l:before {
  content: "\ea04";
}
.i-shopping-cart:before {
  content: "\ea05";
}
.i-shopping-cart-l:before {
  content: "\ea06";
}
.i-site-folder-l:before {
  content: "\ea07";
}
.i-slider-l:before {
  content: "\ea08";
}
.i-square:before {
  content: "\ea09";
}
.i-square-l:before {
  content: "\ea0a";
}
.i-square-o:before {
  content: "\ea0b";
}
.i-star:before {
  content: "\ea0c";
}
.i-star-l:before {
  content: "\ea0d";
}
.i-steam:before {
  content: "\ea0e";
}
.i-storage-l:before {
  content: "\ea0f";
}
.i-sword-l:before {
  content: "\ea10";
}
.i-tab:before {
  content: "\ea11";
}
.i-tab-select:before {
  content: "\ea12";
}
.i-tag:before {
  content: "\ea13";
}
.i-tag-l:before {
  content: "\ea14";
}
.i-taiji:before {
  content: "\ea15";
}
.i-talk:before {
  content: "\ea16";
}
.i-talk-l:before {
  content: "\ea17";
}
.i-taobao:before {
  content: "\ea18";
}
.i-telegram:before {
  content: "\ea19";
}
.i-thumbs-up:before {
  content: "\ea1a";
}
.i-thumbs-up-l:before {
  content: "\ea1b";
}
.i-time:before {
  content: "\ea1c";
}
.i-time-l:before {
  content: "\ea1d";
}
.i-time-plugin-l:before {
  content: "\ea1e";
}
.i-tmall:before {
  content: "\ea1f";
}
.i-transmission-l:before {
  content: "\ea20";
}
.i-trash:before {
  content: "\ea21";
}
.i-trash-l:before {
  content: "\ea22";
}
.i-triangle:before {
  content: "\ea23";
}
.i-triangle-l:before {
  content: "\ea24";
}
.i-triangle-o:before {
  content: "\ea25";
}
.i-truck:before {
  content: "\ea26";
}
.i-truck-l:before {
  content: "\ea27";
}
.i-twitter:before {
  content: "\ea28";
}
.i-upload-l:before {
  content: "\ea29";
}
.i-usb:before {
  content: "\ea2a";
}
.i-usb-l:before {
  content: "\ea2b";
}
.i-user:before {
  content: "\ea2c";
}
.i-user-framework:before {
  content: "\ea2d";
}
.i-user-l:before {
  content: "\ea2e";
}
.i-v2ex:before {
  content: "\ea2f";
}
.i-vector-design:before {
  content: "\ea30";
}
.i-video-camera-l:before {
  content: "\ea31";
}
.i-video-file:before {
  content: "\ea32";
}
.i-video-file-l:before {
  content: "\ea33";
}
.i-vimeo:before {
  content: "\ea34";
}
.i-volume:before {
  content: "\ea35";
}
.i-volume-l:before {
  content: "\ea36";
}
.i-volume-x-l:before {
  content: "\ea37";
}
.i-watch:before {
  content: "\ea38";
}
.i-watch-l:before {
  content: "\ea39";
}
.i-webcam:before {
  content: "\ea3a";
}
.i-webcam-l:before {
  content: "\ea3b";
}
.i-web-edit:before {
  content: "\ea3c";
}
.i-weibo:before {
  content: "\ea3d";
}
.i-weixin:before {
  content: "\ea3e";
}
.i-weixinzhifu:before {
  content: "\ea3f";
}
.i-wifi:before {
  content: "\ea40";
}
.i-wordpress:before {
  content: "\ea41";
}
.i-world-l:before {
  content: "\ea42";
}
.i-wrench-l:before {
  content: "\ea43";
}
.i-write-l:before {
  content: "\ea44";
}
.i-x-buy-l:before {
  content: "\ea45";
}
.i-youtube:before {
  content: "\ea46";
}
.i-zhihu:before {
  content: "\ea47";
}
